<p>heroes works!</p>
<!--<h2>{{hero}}</h2>-->
<h2>{{hero.name | uppercase }} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<!--Al convertir hero en una interfaz, ahora se define en hero.ts
se carga en heroes.component.ts en OnINIT se inicia y este fichero
heroes.component.html que es un componente se lanza  en app.component.html que
es el principal-->

<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>

<!--Añadimos ahora un two ways binding, (enlace de dos direcciones) con ng Model
Para conseguir que lo que el usuario escriba en el input cambie la clase hero.name
y a la vez para que lo que haya en hero.name se muestre en el cuadro. (y al revés)

Pero nos pide añadir FormsModule ( el módulo de angular para formularios)

Luego de añadirlo al escribir, vemos en la etiqueta label el valor que tiene hero.name
y además lo vemos también arriba por no borrar el ejemplo anterior.

-->

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">click</button>
  </li>
</ul>

<!--Con esto se quiere mostrar el contenido del array-->
<!--Por ahora coge los valores del form de arriba ya que hero ya existe y hero.name se va cambiando
en función del input de arriba, esperar a ver si se modifica ahora con los siguientes pasos o si hay
que borrar-->

<!-- Al añadir el *ngFor se soluciona el problema de antes, ya que ahora especifica que la clase hero
  que tiene que coger "la crea para cada iteración del bucle for en el array heroes." De modo que está
  "en otro scope". Y no hay problema. Se puede modificar incluso el input de arriba y no afecta a este
  listado.

-->

<div *ngIf="selectedHero"> <!--Sin esto no va, nos da error de que no puede ir en blanco-->

<h2>{{selectedHero.name | uppercase}} Details</h2>
<div>id: {{selectedHero.id}}</div>
<div>
  <label for="hero-name">Hero name: </label>
  <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
</div>

<!--Aquí se muestran los detalles del héroes selecionado, el siguiente paso sería copiar
esto en cada li para que cuando se pinche en un héroes aparezca dentro de la primera lista, sus datos
como un desplegable-->
</div>
