<p>messages works!</p>
<div *ngIf="messageService.messages.length">

  <h2>Messages</h2>
  <button type="button" class="clear"
          (click)="messageService.clear()">Clear messages</button>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>

</div>

<!--
Muestra el mensaje y el botón de clear, limpia el mensaje de ESTE scope
y el div con el ng-for muestra el mensaje, de los mensajes totales. Osea
el último añadido porque empieza a cero y al borrarlo, se debería de borrar
el del total también



-->
